<section id="about" class="about-section section-padding">
    <div class="container">
        <h2 class="section-title">Something about myself</h2>
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <div class="biography">
                    <div class="biography-image">
                        <img src="assets/images/personal/me.jpg" alt="" class="img lazy" style="border-radius: 10px">
                    </div>
                </div>
            </div>
            <!-- col-md-4 -->
            <div class="col-md-8 col-md-pull-4">
                <div class="short-info">
                    <p>I am Diogo Silva, a 30 years old Portuguese Software Engineer. I have studied in Computer and Telematics Engineering at the University of Aveiro and I am an enthusiastic for technology. Every time that I get some free time, I just make sure to spend that time exploring something new. I think it is important to keep up with the technology.</p>
                    <p>Lately I have grown a passion for complex and different software architecture, I like to understand how they were built and thought. The kind of patterns used, how is the data managed, which frameworks and libraries are being used, how is the integration done with external tools, etc.</p>
                    <p>Along with my studies, I have had a research scholarship twice, one in the IEETA (Institute of Electronics and Informatics Engineering of Aveiro) for one year and the other one in ATNoG (Aveiro Telecommunications and Networking Group) inside of Telecommunications Institute for another year. That gave me the chance of being introduced to the researching area in my campus where I could learn a bit more and get some experience. I do not regret getting involved in those scholarships, since I had the opportunity to interact with professionals of my area and work with them.</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>