<section id="additional" class="dark-section section-padding">
    <div class="container">
        <h2 class="section-title">Some of my doings</h2>
        <span>I have included a <strong>list of what I have been doing</strong>, such as volunteering, works and competitions in which I have participated.
            <br/>These were the ones that I decided to highlight and add a small description to it, feel free to take a look. I still have a big interest for anything that is related to any of the topics below.
        </span>
        <br/>
        <br/>
        <ul class="list-inline" id="filter">
            <li><a class="active" data-group="all">All</a></li>
            {% for item in site.categories %} {% assign category = item[0] %}
            <li><a data-group="{{ category }}">{{ category | replace:'_',' ' }}</a></li>
            {% endfor %}
        </ul>

        <div class="row">
            <div id="grid">
                {% assign posts_count = 0 %} {% assign posts_obj = site.posts %} {% for post in posts_obj %} {% assign posts_count = posts_count | plus: 1 %} {% assign category = post.categories[0] %}
                <div class="portfolio-item col-xs-6 col-sm-4 col-md-3" data-groups='["all", "{{category}}" ]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay">
                            </div>
                            <div class="links text-center">
                                <a class="modal-link" href="#modal{{ posts_count }}" data-effect="mfp-3d-unfold">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                {% if post.post_url %}
                                <a target="_blank" href="{{ post.post_url }}">
                                    <i class="fa fa-link"></i>
                                </a>
                                {% endif %}
                            </div>
                            <img class="lazy portfolio-image" src="{{ post.image }}" alt="image">
                            <div class="portfolio-info">
                                <h3><span>{{ post.title }}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-custom mfp-with-anim mfp-hide" id="modal{{ posts_count }}">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">{{ post.title }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ post.content }}
                    </div>
                    <div class="modal-footer">
                        {{ post.footer }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
