<section id="additional" class="section-padding">
    <div class="container">
        <h2 class="section-title">Additional</h2>
        <ul class="list-inline" id="filter">
            <li><a class="active" data-group="all">All</a></li>
            {% for item in site.categories %}
            {% assign category = item[0] %}
                {% if category != 'volunteering' and category != 'competition' and category != 'academical_work' %}
                    {% continue %}
                {% endif %}
                <li><a data-group="{{ category }}">{{ category | replace:'_',' ' }}</a></li>
            {% endfor %}
        </ul>
        <div class="row">
            <div id="grid">
                {% for post in site.posts %}
                {% assign category = post.categories[0] %}
                    {% if category != 'volunteering' and category != 'competition' and category != 'academical_work' %}
                        {% continue %}
                    {% endif %}
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "{{category}}" ]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="images/works/portfolio-1.jpg"><i class="fa fa-search-plus"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <img src="images/works/portfolio-1.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>{{ post.title }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>