<section id="contact" class="contact-section section-padding">
    <div class="container">
        <h2 class="section-title">Get in touch</h2>

        <h4 class="text-center">Feel free to contact me using one of the following options</h4><br/>
        <div class="row">
            <div class="col-xs-6 contact-panel text-right">
                <i class="fa fa-envelope-o"></i>
                <div class="contact-info">
                    <h4>Email address</h4>
                    {% include email.html %}
                </div>
            </div>
            <div class="col-xs-6 contact-panel" >
                <i class="fa fa-mobile"></i>
                <div class="contact-info">
                    <h4>Phone Number</h4>
                    {% include phone.html %}
                </div>
            </div>

            <div class="col-xs-6 contact-panel text-right">
                <i class="fa fa-linkedin-square" style="color:#007bb5"></i>
                <div class="contact-info">
                    <h4>LinkedIn</h4>
                    <a target="_blank" href="https://linkedin.com/in/dbtdsilva">linkedin.com/in/dbtdsilva</a>
                </div>
            </div>

            <div class="col-xs-6 contact-panel">
                <i class="fa fa-github"></i>
                <div class="contact-info">
                    <h4>GitHub</h4>
                    <a target="_blank" href="https://github.com/dbtdsilva">github.com/dbtdsilva</a>
                </div>
            </div>
        </div>
        <div class="contact-panel text-center">
            <i class="fa fa-rss" style="color:#ff6600"></i>
            <div class="contact-info">
                <h4>Feed RSS</h4>
                <span>Feel free to watch the most recent posts closely</span><br/>
                <a target="_blank" href="{{ "/feed.xml" | prepend: full_base_url }}">{{ "/feed.xml" | prepend: full_base_url }}</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>