<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
    <div class="intro">
        <div class="intro-sub"></div>
        <h1>Diogo Silva<span></span></h1>
        <h3>Software Engineer</h3>
        <div class="social-icons">
            <ul class="list-inline">
                <li><a target="_blank" href="tel:{{ site.data.me.phone_number | remove:" " | remove:"(" | remove:")" }}"><i class="fa fa-mobile"></i></a></li>
                <li><a target="_blank" href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/dbtdsilva"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://github.com/dbtdsilva"><i class="fa fa-github"></i></a></li>
            </ul>
            <ul class="list-inline">
                <li><a target="_blank" href="https://www.facebook.com/dbtdsilva"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/102263571822372794440"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" href="{{ "/feed.xml" | prepend: full_base_url }}"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="mouse-icon">
        <div class="wheel fa fa-arrow-down"><i class="" aria-hidden="true"></i></div>
    </div>
    <div class="intro-scroll text-center">Scroll down</div>
</section>