<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
    <div class="intro">
        <div class="intro-sub"></div>
        <h3><i>Hey there, I'm</i></h3>
        <h1>DIOGO SILVA</h1>
        <div class="social-icons">
            <ul class="list-inline">
                <li><a target="_blank" href="https://www.linkedin.com/in/dbtdsilva"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://github.com/dbtdsilva"><i class="fa fa-github"></i></a></li>
                <li><a target="_blank" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#98;&#116;&#100;&#115;&#105;&#108;&#118;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="mouse-icon">
        <div class="wheel fa fa-arrow-down"><i class="" aria-hidden="true"></i></div>
    </div>
    <div class="intro-scroll text-center">Scroll down</div>
</section>
