<section id="resume" class="resume-section section-padding">
    <div class="container">
        <h2 class="section-title">Resume</h2>
        
        {% for item in site.categories %}
        {% assign category = item[0] %}
        <div class="row">
            <div class="col-md-12">
                <div class="resume-title">
                    <h3>{{ category }}</h3>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        {% assign posts = (site.categories.[category] | sort: 'order') %}
                        {% for post in posts %}
                        <li class="{{ post.class }}">
                            <div class="timeline-badge primary">
                                <a>
                                    <i class="glyphicon glyphicon-record" rel="tooltip" title="{{ post.date_string }}" id="">
                                    </i>
                                </a>
                            </div>
                            <div class="timeline-panel">                    
                                <div class="timeline-header">
                                    <div class="row" style="margin-left: 0px">
                                        <div class="col-md-2 col-sm-3 hidden-xs text-center vcenter">
                                            <img class="logo" src="{{ post.image_path }}" />
                                        </div>
                                        <div class="col-md-10 col-sm-9">
                                            <h3>{{ post.title }}</h3>
                                            <span><b>{{ post.subtitle }} </b></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <div>
                                        <div class='text-center'><b>{{ post.subsubtitle }}</b></div>
                                        <span>{{ post.description }}</span>
                                    </div>
                                </div>
                                <div class="timeline-footer">
                                    <b><span>{{ post.location }}</span>
                                    <span class="pull-right">{{ post.date_string }}</span></b>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="clearfix" style="float: none;"></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.container -->
</section>
