<aside class="sidebar col-12 col-md-3 p-0 bg-dark fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark flex-md-column flex-row py-2 h-100">
        <a class="navbar-brand text-center" href="#">
            <img class="hidden-md img border rounded-circle mb-4" width="150px" src="assets/images/personal/me.jpg" />
            <h2>Diogo Silva</h2>
            <span class="hidden-md">Software Engineer</span>
            <hr class="hidden-md" style="background-color: white">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-md-column flex-row navbar-nav w-100 justify-content-between text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Posts</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>