/* Extra small devices (phones, less than 768px) */
@media (max-width : 766px) {
	.intro h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.social-icons ul{
		margin-left: 0;
	}

	.social-icons li{
		padding:0;
	}

	.social-icons a i{
		margin:0 5px;
	}

	.mouse-icon{
		display:none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav > li > a,
	.navbar-custom .navbar-nav .dropdown-menu > li > a {
		padding:10px 15px;
	}

	.navbar-custom .dropdown-menu{
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	/*resume*/
	.resume:before,
	.resume:after{
		left:1px;
	}

	#filter li{
		margin-bottom: 20px;
	}

	.contact-section div > i {
		float: none;
		margin-right: 0;
	}
}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {
	.intro h1 {
		font-size: 60px;
		line-height: 80px;
	}
	
	.social-icons ul{
		margin-left: -5px;
	}

	.social-icons li{
		padding:0 5px;
	}

	.social-icons a i{
		margin:0 7px;
	}

	.mouse-icon{
		display:none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav > li > a,
	.navbar-custom .navbar-nav .dropdown-menu > li > a {
		padding:10px 15px;
	}

	.navbar-custom .dropdown-menu{
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	.resume:before,
	.resume:after{
		left:1px;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {
	.navbar-custom .navbar-brand{
		padding: 10px 15px;
	}

	.navbar-custom .navbar-nav > li > a, 
	.navbar-custom .navbar-nav .dropdown-menu > li > a{
		font-size: 12px;
		padding: 15px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	/*resume*/
	.resume:before,
	.resume:after{
		left:0px;
	}

	.portfolio-item{
		min-height: 162px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {
	.portfolio-item{
		min-height: 150px;
	}
}
