@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-weight: 300;
    font-size: 14px;
    color: #282828;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}
body,
html {
    overflow-x: hidden;
}
a {
    color: #5e9516;
}
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    outline: none;
    color: #333333;
    text-decoration: none;
}
.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
a,
.btn {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}
.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control {
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus {
    border-color: #5e9516;
    box-shadow: none;
}
.alert {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}
.alert strong {
    display: inline-block !important;
    margin: 0 !important;
}
.btn {
    border: 0;
    border-bottom: 3px solid;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    padding: 9px 22px;
}
.btn-lg,
.btn-group-lg>.btn {
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.btn-primary {
    background-color: #5e9516;
    border-color: rgba(51, 51, 51, 0.15);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5e9516;
    border-color: #5e9516;
}
.btn-info {
    background-color: #52b3d9;
    border-color: rgba(51, 51, 51, 0.15);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #4aa0c2;
    border-color: #4aa0c2;
}
.btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: #5e9516;
    background-color: #fff;
    border-color: #fff;
}
button:focus {
    outline: none;
}
img {
    width: 100%;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.no-padding {
    padding: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}
ul.list-check {}
ul.list-check li {
    position: relative;
    font-size: 18px;
    line-height: 32px;
}
ul.list-check li::before {
    content: "\f00c";
    font-family: fontawesome;
    color: #5e9516;
    margin-right: 10px;
}
ul.list-bullet {
    list-style: circle;
}
.section-padding {
    padding: 60px 0 60px;
}
.section-image {
    padding: 30px;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #2c3e50;
    position: relative;
}
#home {
    background: url(../images/personal/desk-home.jpg) no-repeat center center;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    background-color: #222;
    background-size: cover;
    padding: 0;
    position: relative;
}
#home:before {
    content: "";
    background-color: rgba(26, 30, 35, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
}
.intro h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
    margin-top: 0px;
    color: #5e9516;
}
.intro h1 span {
    color: #5e9516;
}
.intro p,
.intro h3 {
    color: #f7f7f7;
    margin-bottom: 0px;
}
.intro-sub {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a i {
    position: relative;
    color: #fff;
    font-size: 18px;
    margin: -2px 7px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}
.social-icons a i::before {
    position: relative;
    z-index: 1;
}
.social-icons a i::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.social-icons a i:hover::after {
    background: #5e9516;
    border: 1px solid transparent;
    z-index: 0;
}
.header {
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
    z-index: 998;
    padding-bottom: 1px;
    background: #fff;
}
.header::after {
    border-bottom: 1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}
.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}
.navbar-custom ul li a span {
    margin-left: 5px;
}
.navbar-custom .dropdown-menu {
    margin-top: 10px;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #ddd;
    border-top: 2px solid #5e9516;
    border-radius: 0;
    border-bottom: 3px double #ddd;
    background-color: #FFFFFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}
.navbar-custom .navbar-nav > li:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: -2px;
}
.navbar-custom .navbar-nav > li > a {
    color: #282828;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.navbar-custom .dropdown-menu > li {
    border-bottom: 1px solid #F0F0F0;
}
.navbar-custom .dropdown-menu > li:last-child {
    border-bottom: 0;
}
.navbar-custom .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
}
.navbar-custom .nav li a:focus {
    background: none;
    outline: 0;
}
.navbar-custom .nav li.active,
.navbar-custom .navbar-nav > li.active > a,
.navbar-custom .nav li a:hover {
    background: none;
    outline: 0;
    color: #5e9516;
}
.navbar-custom .nav li.active,
.navbar-custom .navbar-nav > li.active > a {
    border-bottom: #5e9516 solid 3px;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 18px;
}
.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
    background: #f5f5f5;
}
.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}
.short-info {
    margin-bottom: 40px;
}
.short-info h3 {
    margin-bottom: 30px;
}
.short-info ul {
    margin-top: 10px;
    display: inline-block;
}
.short-info ul li {
    width: 50%;
    float: left;
}
.biography {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
.biography-image {
    text-align: center;
    position: relative;
    background-size: contain;
}
.biography-image img {
    position: relative;
    width: 95%;
}
.biography ul {
    padding: 25px 20px 30px;
}
.biography ul li {
    padding: 3px 0;
    font-size: 16px;
}
.biography ul li:last-child {
    border-bottom: 0;
}
.cloud-section {
    background: url(../images/personal/desk-cloud-darker.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.cloud-img {
    width: 70%;
}
@media (max-width: 640px) {
    .cloud-img {
        width: 100% !important;
    }
}
.resume-title h3 {
    text-align: center;
}
.resume-section > div > div {
    margin-bottom: 60px;
}
.resume {
    position: relative;
}
.resume .title {
    color: #387dd8;
}
.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.tooltip.top {
    margin-top: -2px;
}
.tooltip.right {
    margin-left: 2px;
}
.tooltip.bottom {
    margin-top: 2px;
}
.tooltip.left {
    margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}
.tooltip.left .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}
.tooltip.bottom .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}
.tooltip.right .tooltip-arrow {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid #000;
}
.tooltip-inner {
    width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #313131;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}
.logo {
    width: 100%;
    height: 100%;
}
.dark-section {
    background-color: #1a1e23;
    color: #fff;
}
.dark-section a:hover,
.dark-section a:focus {
    color: #bbbbbb;
}
.dark-section .section-title {
    color: #fff;
}
.dark-section .section-title h2 {
    color: #fff;
}
.dark-title {
    width: 25%;
    float: left;
}
.dark-title h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -6px;
    text-transform: capitalize;
}
.portfolio-item {
    padding-right: 5px;
    padding-left: 5px;
    min-height: 130px;
}
.portfolio-image {
    height: 115px;
}
.portfolio-bg {
    background: #fff;
    padding: 1px;
    border: 1px solid #eee;
}
.portfolio {
    position: relative;
    overflow: hidden;
}
#filter {
    margin: 0 0 20px;
    text-align: center;
}
#filter li a {
    color: #5e9516;
    display: block;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 4px;
    transition: inherit;
}
#filter li a.active,
#filter li a:hover {
    position: relative;
    background: #5e9516;
    color: #fff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}
.tt-overlay {
    position: absolute;
    background-color: rgba(26, 30, 31, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.portfolio-info,
.links,
.links a i,
.links a i::after,
.tt-overlay {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.links {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -20px;
    margin-left: -45px;
    opacity: 0;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
}
.links a i {
    position: relative;
    color: #5e9516;
    font-size: 16px;
    margin: 0 13px;
    z-index: 100;
}
.links a:hover i {
    color: #fff;
}
.links a i::after {
    position: absolute;
    content: "";
    left: -7px;
    top: -7px;
    width: 30px;
    height: 30px;
    border: 1px solid #5e9516;
    z-index: -1;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.links a:hover i::after {
    background-color: #5e9516;
}
.portfolio:hover .portfolio-info {
    bottom: 0;
}
.portfolio-info {
    padding: 0px 10px;
    position: absolute;
    bottom: -webkit-calc(100% - 25px);
    bottom: -moz-calc(100% - 25px);
    bottom: calc(100% - 25px);
    left: 0;
    background-color: #5e9516;
    color: #fff;
    width: 100%;
    height: 25px;
}
.portfolio:hover .tt-overlay,
.portfolio:hover .links {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.portfolio-info a {
    color: white;
}
.portfolio-info h3 {
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    line-height: 25px;
}
.modal-custom {
    position: relative;
    background: #FFF;
    padding: 10px;
    width: auto;
    margin: 0 auto;
}
.modal-custom {
    line-height: 20px;
}
.modal-custom h1,
.modal-custom h2,
.modal-custom h3,
.modal-custom h4,
.modal-custom h5,
.modal-custom h6 {
    text-align: center;
    margin: 15px 0px;
}
.modal-custom ol,
.modal-custom ul {
    margin: inherit;
    padding: inherit;
}
.modal-custom ol {
    list-style-type: decimal;
}
.modal-custom ul {
    list-style: inherit;
}
@media (min-width: 768px) {
    .modal-custom {
        width: 700px;
        margin: 30px auto;
    }
    .modal-custom-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-custom-lg {
        width: 900px;
    }
}
.tt-overlay-bg {
    background: rgba(26, 30, 35, 0.85);
    padding: 110px 0;
}
.contact-section strong {
    display: block;
    text-transform: uppercase;
}
.contact-section div > i {
    font-size: 45px;
}
.footer-wrapper {
    background: #1a1e23;
    padding: 36px 0;
    color: #fff;
}
.copyright p {
    margin: 0;
}
.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;
}
.scroll-up a {
    background-color: #5e9516;
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}
.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, .8);
    color: #222;
}
.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 1px solid #fff;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}
.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.mouse-icon .wheel {
    position: relative;
    color: #fff;
    height: 20px;
    left: 7px;
    top: 0px;
}
.intro-scroll {
    position: absolute;
    left: 50%;
    bottom: 15px;
    color: #fff;
    height: 20px;
    width: 200px;
    margin-left: -100px;
    display: block;
    z-index: 10;
}
@-webkit-keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}
@keyframes drop {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}
.short-info {
    margin-bottom: 40px;
}
.short-info h3 {
    margin-bottom: 30px;
}