body, html {
    height: 100%;
}

aside {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-image: url("../images/personal/desk-cloud-darker.png");
}

.navbar-brand {
    margin: auto auto 0;
}

.navbar-collapse {
    margin-bottom: auto;
    flex-grow: 0;
}

.custom-container {
    max-width: 800px;
    margin-left: 3em;
    margin-top: 3em;
}

@media (min-width: 768px) {
    aside {
        height: 100%;
    }
}

@media (max-width: 767.98px) {
    main {
        margin-top: 72px;
    }
    .hidden-md {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .hidden-lg {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .custom-container {
        margin: 0;
    }
}