<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="tt-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>

    {% include home.html %}
    {% include header.html %}
    {% include about.html %}
    {% include wordcloud.html %}
    {% include resume.html %}

    {% include additional.html %}
    {% include contact.html %}

    {% include footer.html %}
    {% include footer-scripts.html %}
  </body>

</html>
